/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main {
  margin: 10px;
}
.ask {
  width: 500px;
  height: 100px;
  border-left: 6px solid grey;
  padding: 20px;
  font-size: 17px;
}

.ask p {
  font-style: italic;
}

.answer {
  width: 500px;
  height: 100px;
  border-left: 6px solid grey;
  padding: 20px;
  font-size: 17px;
  background-color: #f8f8b8;
}

.answer p {
  font-style: italic;
}

.link a {
  text-decoration: none;
}
